.all-browsers {
margin: 0;
padding: 5px;
background-color: lightgray;
}

.all-browsers > h1, .browser {
margin: 10px;
padding: 5px;
}

.browser {
background: white;
}

.browser > h2, p {
margin: 4px;
font-size: 90%;
}
#myVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
position: fixed;
bottom: 0;
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
width: 100%;
padding: 20px;
}


/* Style the button used to pause/play the video */
#myBtn {
width: 200px;
font-size: 18px;
padding: 10px;
border: none;
background: #000;
color: #fff;
cursor: pointer;
}

#myBtn:hover {
background: #ddd;
color: black;
}
@media screen and ( max-width: 900px) {
.column{
    font-size: 3.6vw;
}
}
@media screen and (max-width: 450px) {
.column{
    font-size: 6vw;
}
}
@media screen and (min-width: 1450px) {
    .column{
        font-size: 1vw;
    }
}
.side {
    flex: 30vw;
    background-color: aqua;
    padding: 20vw;
  }
  .row {  
    display: block;
    flex-wrap: wrap;
  }
  .navbar {top: 0%;
    display: flex;
    background-color: hwb(0 27% 73% / 0.60);
    position: relative;
    width: 100%;

    }
  
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
.contentUP{
position: fixed;
bottom: 0vw;
left: 0;
background: rgba(0, 0, 0, 0.8);
width: 100%;
padding: 20px;

color: rgb(255, 255, 255);
font-size: 2.5vw;
}
.contentUP{
position: fixed;
bottom: 0vw;
left: 0;
background: rgba(0, 0, 0, 0.8);
width: 100%;
padding: 20px;

color: rgb(255, 255, 255);
font-size: 2.5vw;
}
aside {
  width: 20%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
.allThings{
  background-size: auto;
  border-radius: 5vw;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  background-color: rgba(94, 85, 73, 0.75);
  display: grid;
  color: #ddd;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}