.all-browsers {
margin: 0;
padding: 5px;
background-color: lightgray;
}

.all-browsers > h1, .browser {
margin: 10px;
padding: 5px;
}

.browser {
background: white;
}

.browser > h2, p {
margin: 4px;
font-size: 90%;
}
#myVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
}

.content {
position: fixed;
bottom: 0;
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
width: 100%;
padding: 20px;
}

#myBtn {
width: 200px;
font-size: 18px;
padding: 10px;
border: none;
background: #000;
color: #fff;
cursor: pointer;
}

#myBtn:hover {
background: #ddd;
color: black;
}
@media screen and ( max-width: 900px) {
.column{
    font-size: 3.6vw;
}  
}@media screen and ( max-width: 900px) {
.logoSize{
  width: 170px;
  padding-left: 20%;
}
}
@media screen and (max-width: 450px) {
.column{
    font-size: 6vw;
}
}
@media screen and (min-width: 1450px) {
    .column{
        font-size: 2vw;
    }
}
.side {
    flex: 30vw;
    background-color: aqua;
    padding: 20vw;
  }
  .row {  
    display: block;
    flex-wrap: wrap;
  }
  .navbar {top: 0%;
    display: flex;
    background-color: hwb(0 27% 73% / 0.60);
    position: relative;
    width: 100%;

    }
  
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
.contentUP{
position: fixed;
bottom: 0vw;
left: 0;
background: rgba(0, 0, 0, 0.8);
width: 100%;
padding: 20px;

color: rgb(255, 255, 255);
font-size: 2.5vw;
}
.contentUP{
position: fixed;
bottom: 0vw;
left: 0;
background: rgba(0, 0, 0, 0.8);
width: 100%;
padding: 20px;

color: rgb(255, 255, 255);
font-size: 2.5vw;
}
aside {
  width: 20%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
.allThings{
  background-size: auto;
  border-radius: 5vw;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  background-color: rgba(94, 85, 73, 0.75);
  display: grid;
  color: #ddd;
}
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.rowB:after{
  content: "";
  display: table;
  clear: both;
}
.column2{
  border-style: solid;
  border-color: #000;
  float: left;
  width: 47vw;
  transition: 0.5s;
  margin: 0.5vw;
}

  @media screen and (max-width: 850px) {
    .column2{
      width: 95vw;
    }}
    
.TabBar{
  height: 0%; 
  transition: 0.5s;
}

.TabBar2{
  height: 0%;
  transition: 0.5s;
}
#Sidenav2 a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}
#Sidenav2 a:hover {
  left: 0;
}
/* slide pics */
* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  display: grid;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}